ADDRS=
SRV_MODE=
GIN_MODE=

DB_MIGRATOR_ADDR=
DB_PASSWORD=
DB_PORT=
DB_USER=
DB_NAME=
DB_HOST=
DB_SSL_MODE=

JWT_SECRET=
JWT_REFRESH_SECRET=

REPORT_CACHE_DIR=.cache/report
REPORT_CACHE_TTL=10m
REPORT_API_TOKEN=
